<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmployeeExtendMapper">
	<resultMap id="BaseResultMap" type="EmployeeExtend">
		<id column="employee_extend_id" jdbcType="BIGINT" property="employeeExtendId" />
		<result column="employee_id" jdbcType="BIGINT" property="employeeId" />
		<result column="internship_start" jdbcType="DATE" property="internshipStart" />
		<result column="internship_end" jdbcType="DATE" property="internshipEnd" />
		<result column="trial_start" jdbcType="DATE" property="trialStart" />
		<result column="trial_end" jdbcType="DATE" property="trialEnd" />
		<result column="correction_date" jdbcType="DATE" property="correctionDate" />
		<result column="entry_date" jdbcType="DATE" property="entryDate" />
		<result column="posts_date" jdbcType="DATE" property="postsDate" />
		<result column="title_date" jdbcType="DATE" property="titleDate" />
		<result column="contract_start" jdbcType="DATE" property="contractStart" />
		<result column="contract_end" jdbcType="DATE" property="contractEnd" />
		<result column="leave_date" jdbcType="DATE" property="leaveDate" />
		<result column="leave_type" jdbcType="VARCHAR" property="leaveType" />
		<result column="leave_reasons" jdbcType="VARCHAR" property="leaveReasons" />
	</resultMap>

	<sql id="Base_Column_List">
		employee_extend_id, employee_id, internship_start, internship_end, trial_start,
		trial_end,
		correction_date, entry_date, posts_date, title_date, contract_start, contract_end,
		leave_date, leave_type, leave_reasons
	</sql>

	<select id="selectById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_employee_extend
		where employee_extend_id = #{employeeExtendId,jdbcType=BIGINT}
	</select>

	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_employee_extend
		where employee_extend_id = #{employeeExtendId,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="EmployeeExtend">
		insert into t_employee_extend (employee_extend_id, employee_id,
		internship_start,
		internship_end, trial_start, trial_end,
		correction_date, entry_date, posts_date,
		title_date, contract_start, contract_end,
		leave_date, leave_type, leave_reasons
		)
		values (#{employeeExtendId,jdbcType=BIGINT}, #{employeeId,jdbcType=BIGINT},
		#{internshipStart,jdbcType=DATE},
		#{internshipEnd,jdbcType=DATE}, #{trialStart,jdbcType=DATE}, #{trialEnd,jdbcType=DATE},
		#{correctionDate,jdbcType=DATE}, #{entryDate,jdbcType=DATE},
		#{postsDate,jdbcType=DATE},
		#{titleDate,jdbcType=DATE}, #{contractStart,jdbcType=DATE}, #{contractEnd,jdbcType=DATE},
		#{leaveDate,jdbcType=DATE}, #{leaveType,jdbcType=VARCHAR},
		#{leaveReasons,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertSelective" parameterType="EmployeeExtend">
		insert into t_employee_extend
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="employeeExtendId != null">
				employee_extend_id,
			</if>
			<if test="employeeId != null">
				employee_id,
			</if>
			<if test="internshipStart != null">
				internship_start,
			</if>
			<if test="internshipEnd != null">
				internship_end,
			</if>
			<if test="trialStart != null">
				trial_start,
			</if>
			<if test="trialEnd != null">
				trial_end,
			</if>
			<if test="correctionDate != null">
				correction_date,
			</if>
			<if test="entryDate != null">
				entry_date,
			</if>
			<if test="postsDate != null">
				posts_date,
			</if>
			<if test="titleDate != null">
				title_date,
			</if>
			<if test="contractStart != null">
				contract_start,
			</if>
			<if test="contractEnd != null">
				contract_end,
			</if>
			<if test="leaveDate != null">
				leave_date,
			</if>
			<if test="leaveType != null">
				leave_type,
			</if>
			<if test="leaveReasons != null">
				leave_reasons,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="employeeExtendId != null">
				#{employeeExtendId,jdbcType=BIGINT},
			</if>
			<if test="employeeId != null">
				#{employeeId,jdbcType=BIGINT},
			</if>
			<if test="internshipStart != null">
				#{internshipStart,jdbcType=DATE},
			</if>
			<if test="internshipEnd != null">
				#{internshipEnd,jdbcType=DATE},
			</if>
			<if test="trialStart != null">
				#{trialStart,jdbcType=DATE},
			</if>
			<if test="trialEnd != null">
				#{trialEnd,jdbcType=DATE},
			</if>
			<if test="correctionDate != null">
				#{correctionDate,jdbcType=DATE},
			</if>
			<if test="entryDate != null">
				#{entryDate,jdbcType=DATE},
			</if>
			<if test="postsDate != null">
				#{postsDate,jdbcType=DATE},
			</if>
			<if test="titleDate != null">
				#{titleDate,jdbcType=DATE},
			</if>
			<if test="contractStart != null">
				#{contractStart,jdbcType=DATE},
			</if>
			<if test="contractEnd != null">
				#{contractEnd,jdbcType=DATE},
			</if>
			<if test="leaveDate != null">
				#{leaveDate,jdbcType=DATE},
			</if>
			<if test="leaveType != null">
				#{leaveType,jdbcType=VARCHAR},
			</if>
			<if test="leaveReasons != null">
				#{leaveReasons,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByIdSelective" parameterType="EmployeeExtend">
		update t_employee_extend
		<set>
			<if test="employeeId != null">
				employee_id = #{employeeId,jdbcType=BIGINT},
			</if>
			<if test="internshipStart != null">
				internship_start = #{internshipStart,jdbcType=DATE},
			</if>
			<if test="internshipEnd != null">
				internship_end = #{internshipEnd,jdbcType=DATE},
			</if>
			<if test="trialStart != null">
				trial_start = #{trialStart,jdbcType=DATE},
			</if>
			<if test="trialEnd != null">
				trial_end = #{trialEnd,jdbcType=DATE},
			</if>
			<if test="correctionDate != null">
				correction_date = #{correctionDate,jdbcType=DATE},
			</if>
			<if test="entryDate != null">
				entry_date = #{entryDate,jdbcType=DATE},
			</if>
			<if test="postsDate != null">
				posts_date = #{postsDate,jdbcType=DATE},
			</if>
			<if test="titleDate != null">
				title_date = #{titleDate,jdbcType=DATE},
			</if>
			<if test="contractStart != null">
				contract_start = #{contractStart,jdbcType=DATE},
			</if>
			<if test="contractEnd != null">
				contract_end = #{contractEnd,jdbcType=DATE},
			</if>
			<if test="leaveDate != null">
				leave_date = #{leaveDate,jdbcType=DATE},
			</if>
			<if test="leaveType != null">
				leave_type = #{leaveType,jdbcType=VARCHAR},
			</if>
			<if test="leaveReasons != null">
				leave_reasons = #{leaveReasons,jdbcType=VARCHAR},
			</if>
		</set>
		where employee_extend_id = #{employeeExtendId,jdbcType=BIGINT}
	</update>

	<update id="updateById" parameterType="EmployeeExtend">
		update t_employee_extend
		set employee_id = #{employeeId,jdbcType=BIGINT},
		internship_start = #{internshipStart,jdbcType=DATE},
		internship_end = #{internshipEnd,jdbcType=DATE},
		trial_start = #{trialStart,jdbcType=DATE},
		trial_end = #{trialEnd,jdbcType=DATE},
		correction_date = #{correctionDate,jdbcType=DATE},
		entry_date = #{entryDate,jdbcType=DATE},
		posts_date = #{postsDate,jdbcType=DATE},
		title_date = #{titleDate,jdbcType=DATE},
		contract_start = #{contractStart,jdbcType=DATE},
		contract_end = #{contractEnd,jdbcType=DATE},
		leave_date = #{leaveDate,jdbcType=DATE},
		leave_type = #{leaveType,jdbcType=VARCHAR},
		leave_reasons = #{leaveReasons,jdbcType=VARCHAR}
		where employee_extend_id = #{employeeExtendId,jdbcType=BIGINT}
	</update>
</mapper>