<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<sql id="userColumns">USER_ID,USER_NAME,PASSWORD,USER_TYPE,ID_NUMBER,NAME,PHONE,EMAIL,STATUS,LOGIN_IP,LAST_LOGIN,SKIN,BZ,ORG_ID,ORG_BM,ORG_NAME
	</sql>

	<resultMap type="User" id="userMap">
		<id property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="password" column="PASSWORD" />
		<result property="userType" column="USER_TYPE" />
		<result property="idNumber" column="ID_NUMBER" />
		<result property="relName" column="REL_NAME" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
		<result property="status" column="STATUS" />
		<result property="loginIp" column="LOGIN_IP" />
		<result property="lastLogin" column="LAST_LOGIN" />
		<result property="skin" column="SKIN" />
		<result property="bz" column="BZ" />
		<result property="schoolId" column="SCHOOL_ID" />
		<result property="orgId" column="ORG_ID" />
		<result property="orgBm" column="ORG_BM" />
		<result property="orgName" column="ORG_NAME" />
	</resultMap>

	<resultMap type="User" id="userRoleMap" extends="userMap">
		<collection property="roles" ofType="Role">
			<id property="roleId" column="ROLE_ID" />
			<result property="roleName" column="ROLE_NAME" />
			<result property="rights" column="RIGHTS" />
			<result property="parentId" column="PARENT_ID" />
			<result property="level" column="LEVEL" />
		</collection>
	</resultMap>


	<!-- 判断用户名和密码 -->
	<select id="getUserByNameAndPwd" parameterType="pd" resultMap="userMap"
		useCache="false">
		select * from SYS_USER
		<where>
			<choose>
				<when test="USER_NAME != null and PASSWORD != null">
					(
					(USER_NAME = #{USER_NAME} and PASSWORD = #{PASSWORD})
					or
					(EMAIL = #{USER_NAME} and PASSWORD = #{PASSWORD})
					or
					(PHONE = #{USER_NAME} and PASSWORD = #{PASSWORD})
					)
				</when>
				<otherwise>
					1=2
				</otherwise>
			</choose>
		</where>
	</select>

	<!-- 查询用户列表 -->
	<select id="getUserListByNameAndPwd" parameterType="pd"
		resultMap="userMap" useCache="false">
		select * from SYS_USER
		<where>
			<choose>
				<when test="USER_NAME != null and PASSWORD != null">
					(
					(USER_NAME = #{USER_NAME} and PASSWORD = #{PASSWORD})
					or
					(EMAIL = #{USER_NAME} and PASSWORD = #{PASSWORD})
					or
					(PHONE = #{USER_NAME} and PASSWORD = #{PASSWORD})
					)
				</when>
				<otherwise>
					1=2
				</otherwise>
			</choose>
		</where>
		ORDER BY LAST_LOGIN DESC
	</select>

	<!-- 根据用户Id查询用户对象 -->
	<select id="getUserById" parameterType="String" resultMap="userRoleMap">
		SELECT
		u.*
		FROM
		sys_user u
		where u.STATUS=0
		and u.USER_ID=#{userId}
	</select>

	<!-- 关链查询包含角色列表信息的User对象 -->
	<select id="getUserAndRoleById" parameterType="String"
		resultMap="userRoleMap">
		SELECT
		u.*,sr.*
		FROM
		sys_user u
		LEFT JOIN sys_user_role sur
		ON u.USER_ID = sur.USER_ID
		LEFT JOIN sys_role sr
		ON sur.ROLE_ID=sr.ROLE_ID
		where u.STATUS=0
		and u.USER_ID=#{userId}
	</select>

	<!-- 获取用户信息 邮箱， -->
	<select id="getUserByPd" parameterType="pd" resultMap="userMap">
		select
		*
		from
		SYS_USER
		<where>
			<if test="userName != null">
				and (
				(USER_NAME = #{userName})
				or
				(EMAIL = #{userName})
				or
				(PHONE = #{userName})
				)
			</if>
			<if test="idNumber != null">
				and ID_NUMBER = #{idNumber}
			</if>
			<if test="email != null">
				and EMAIL = #{email}
			</if>
			<if test="userId != null">
				and USER_ID = #{userId}
			</if>
		</where>
	</select>

	<select id="isExisUser" parameterType="pd" resultMap="userMap">
		select
		*
		from
		SYS_USER
		<where>
			<if test="userName != null and idNumber != null">
				(
				(USER_NAME = #{userName} and ID_NUMBER = #{idNumber})
				or
				(EMAIL = #{userName} and ID_NUMBER = #{idNumber})
				or
				(PHONE = #{userName} and ID_NUMBER = #{idNumber})
				)
			</if>
			<if test="email != null and idNumber != null">
				or (
				(USER_NAME = #{email} and ID_NUMBER = #{idNumber})
				or
				(EMAIL = #{email} and ID_NUMBER = #{idNumber})
				or
				(PHONE = #{email} and ID_NUMBER = #{idNumber})
				)
			</if>
			<if test="phone != null and idNumber != null">
				or (
				(USER_NAME = #{phone} and ID_NUMBER = #{idNumber})
				or
				(EMAIL = #{phone} and ID_NUMBER = #{idNumber})
				or
				(PHONE = #{phone} and ID_NUMBER = #{idNumber})
				)
			</if>
		</where>
	</select>

	<!-- 用户列表(用户组) -->
	<select id="userListPage" parameterType="page" resultMap="userRoleMap"
		useCache="false">
		SELECT
		u.* ,
		sr.*
		FROM
		sys_user u
		LEFT JOIN sys_user_role sur
		ON u.USER_ID = sur.USER_ID
		LEFT JOIN sys_role sr
		ON sur.ROLE_ID=sr.ROLE_ID
		where 1=1
		<if test="pd.USER_NAME != null and pd.USER_NAME != ''"><!-- 关键词检索 -->
			and
			(
			u.USER_NAME LIKE CONCAT(CONCAT('%', #{pd.USER_NAME}),'%')
			or
			u.EMAIL LIKE CONCAT(CONCAT('%', #{pd.USER_NAME}),'%')
			or
			u.USER_NAME LIKE CONCAT(CONCAT('%', #{pd.USER_NAME}),'%')
			or
			u.PHONE LIKE CONCAT(CONCAT('%', #{pd.USER_NAME}),'%')
			)
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &gt;= #{pd.lastLoginStart}
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &lt;= #{pd.lastLoginEnd}
		</if>
		<if
			test="pd.USER_TYPE!=null and pd.USER_TYPE!='' and pd.USER_TYPE=='default'"><!-- 总部管理员不能查看自己 -->
			and u.USER_TYPE != "default"
		</if>
		<if
			test="pd.USER_TYPE!=null and pd.USER_TYPE!='' and pd.USER_TYPE=='system'"><!-- 分校管理员不能查看总部管理员及平级管理员 -->
			and u.USER_TYPE != "default"
			and u.USER_TYPE != "system"
		</if>
		<if test="pd.downPd!=null">
			<if test="pd.downPd.size &gt; 0">
				and u.DICT_ID in
				<foreach collection="pd.downPd.keys" index="index" item="item"
					open="(" separator="," close=")">
					'${item}'
				</foreach>
			</if>
			<if test="pd.downPd.size &lt; 1">
				and u.DICT_ID = "0"
			</if>
		</if>
		order by u.LAST_LOGIN DESC
	</select>

	<!-- 通过分校机构ID查询分校下的所有人员 -->
	<select id="userListPageByOrgId" parameterType="page" resultMap="userRoleMap"
		useCache="false">
		SELECT su.* FROM sys_user su
		<choose>
			<when test="pd.userType=='system'">
				JOIN (
				SELECT
				a.ZD_ID AS fxId,
				b.ZD_ID AS bmId,
				c.ZD_ID AS ksId,
				d.ZD_ID AS xzId
				FROM
				sys_dictionaries a
				LEFT JOIN sys_dictionaries b ON a.ZD_ID=b.PARENT_ID
				LEFT JOIN sys_dictionaries c ON b.ZD_ID=c.PARENT_ID
				LEFT JOIN sys_dictionaries d ON c.ZD_ID=d.PARENT_ID
				WHERE a.ZD_ID = #{pd.orgId}
				) AS d1
				WHERE su.STATUS=0 AND (su.ORG_ID=d1.bmId OR su.ORG_ID=d1.ksId OR
				su.ORG_ID=d1.xzId)
			</when>
			<when test="pd.userType=='super'">
				WHERE su.USER_TYPE != "super"
			</when>
			<otherwise>
				WHERE 1=2
			</otherwise>
		</choose>
		<trim prefix="" prefixOverrides="AND|OR">
			<if test="pd.userName != null and pd.userName != ''"><!-- 关键词检索 -->
				AND
				(
				su.USER_NAME LIKE CONCAT(CONCAT('%', #{pd.userName}),'%')
				or
				su.EMAIL LIKE CONCAT(CONCAT('%', #{pd.userName}),'%')
				or
				su.PHONE LIKE CONCAT(CONCAT('%', #{pd.userName}),'%')
				)
			</if>
			<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
				AND su.LAST_LOGIN &gt;= #{pd.lastLoginStart}
			</if>
			<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
				AND su.LAST_LOGIN &lt;= #{pd.lastLoginEnd}
			</if>
		</trim>
	</select>

	<!-- 用户列表(全部) -->
	<select id="listAllUser" parameterType="pd" resultType="pd"
		useCache="false">
		select
		<include refid="userColumns" />
		,
		r.ROLE_ID,
		r.ROLE_USER_NAME
		from SYS_USER u, SYS_ROLE r
		where u.ROLE_ID = r.ROLE_ID
		and u.USER_NAME != 'admin'
		and (r.ROLE_ID != '7' and r.PARENT_ID != '7')
		<if test="USER_NAME != null and USER_NAME != ''"><!-- 关键词检索 -->
			and
			(
			u.USER_NAME LIKE CONCAT(CONCAT('%', #{USER_NAME}),'%')
			or
			u.EMAIL LIKE CONCAT(CONCAT('%', #{USER_NAME}),'%')
			or
			u.USER_NAME LIKE CONCAT(CONCAT('%', #{USER_NAME}),'%')
			or
			u.PHONE LIKE CONCAT(CONCAT('%', #{USER_NAME}),'%')
			)
		</if>
		<if test="lastLoginStart!=null and lastLoginStart!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &gt;= #{lastLoginStart}
		</if>
		<if test="lastLoginEnd!=null and lastLoginEnd!=''"><!-- 登录时间检索 -->
			and u.LAST_LOGIN &lt;= #{lastLoginEnd}
		</if>
		order by u.LAST_LOGIN desc
	</select>


	<!--更新用户信息 更新登录时间 ,更新登录IP,更新机构组织ID,编码,名称,皮肤 -->
	<update id="updateUserByPd" parameterType="pd" flushCache="false">
		UPDATE
		SYS_USER
		<set>
			<if test="userName != null">
				USER_NAME = #{userName},
			</if>
			<if test="password != null">
				PASSWORD = #{password},
			</if>
			<if test="userType != null">
				USER_TYPE = #{userType},
			</if>
			<if test="typeId != null">
				TYPE_ID = #{typeId},
			</if>
			<if test="idNumber != null">
				ID_NUMBER = #{idNumber},
			</if>
			<if test="relName != null">
				REL_NAME = #{relName},
			</if>
			<if test="phone != null">
				PHONE = #{phone},
			</if>
			<if test="email != null">
				EMAIL = #{email},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="loginIp != null">
				LOGIN_IP = #{loginIp},
			</if>
			<if test="schoolId != null">
				SCHOOL_ID = #{schoolId},
			</if>
			<if test="orgId != null">
				ORG_ID = #{orgId},
			</if>
			<if test="orgBm != null">
				ORG_BM = #{orgBm},
			</if>
			<if test="orgName != null">
				ORG_NAME = #{orgName},
			</if>
			<if test="lastLogin != null">
				LAST_LOGIN = #{lastLogin},
			</if>
			<if test="skin != null">
				SKIN = #{skin},
			</if>
			<if test="bz != null">
				BZ = #{bz},
			</if>
		</set>
		where USER_ID = #{userId}
	</update>

	<!-- 新增用户 -->
	<insert id="saveUser" parameterType="pd" flushCache="false">
		insert into
		SYS_USER (
		USER_ID,
		USER_NAME,
		PASSWORD,
		USER_TYPE,
		ID_NUMBER,
		REl_NAME,
		PHONE,
		EMAIL,
		BZ,
		SCHOOL_ID
		) values (
		#{userId},
		#{userName},
		#{password},
		#{userType},
		#{idNumber},
		#{relName},
		#{phone},
		#{email},
		#{bz},
		#{schoolId}
		)
	</insert>


	<!-- 新增用户 角色关系 -->
	<insert id="saveUserRoles" parameterType="pd" flushCache="false">
		INSERT INTO sys_user_role(USER_ID, ROLE_ID)
		VALUES
		<foreach collection="roleIds" item="item" index="index"
			separator=",">
			(#{userId},#{item})
		</foreach>
	</insert>


	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="pd" flushCache="false">
		delete
		from SYS_USER
		where
		USER_ID = #{userId}
	</delete>

	<!-- 删除用户角色关系 -->
	<delete id="deleteUserRoles" parameterType="String" flushCache="false">
		delete from SYS_USER_ROLE
		where
		USER_ID = #{userId}
	</delete>

	<!-- 批量删除用户 -->
	<delete id="deleteAllU" parameterType="String" flushCache="false">
		delete from SYS_USER
		where
		USER_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>


</mapper>